* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #7BA5E9, #657DE0);
    z-index: -1;
}

/* Login / register */
.container {
    width: 960px;
    height: 740px;
    display: flex;
    background-color: white;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.container .welcome {
    flex: 1;
    background-color: #314967;
    border-radius: 0 180px 180px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 30px;
}

.container .welcome h1 {
    font-size: 4em;
}

.container .formPart {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.container .formPart .login {
    width: 100%;
    height: 180px;
    border-radius: 0 0 40px 40px;
    background: linear-gradient(180deg, white, #dce3f2);
    display: flex;
    justify-content: center;
    align-items: end;
}

.container .formPart .login h1 {
    margin-bottom: 30px;
    color: #314967;
}

.container .formPart .loginPart {
    width: 100%;
    height: 450px;
    background: linear-gradient(0deg, white, #dce3f2);
    border-radius: 40px 40px 0 0;
    display: flex;
    justify-content: center;
    /* opacity: 0.5; */
}

.container .formPart .loginPart .form {
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 800;
    font-size: 1.2rem;
    color: #314967;
}

.container .formPart .loginPart .form .formSpace {
    height: 40px;
    width: 100%;
    border-radius: 30px;
    background-color: white;
    display: flex;
}

.container .formPart .loginPart .form label {
    margin-bottom: 10px;
}

.container .formPart .loginPart .form .password {
    margin-top: 30px;
}

.container .formPart .loginPart .form .formSpace .iconUser {
    margin: 10px;
}

.container .formPart .loginPart .form .formSpace .iconLock {
    margin: 10px 12px;
}

.container .formPart .loginPart .form .formSpace input {
    width: 100%;
    background-color: transparent;
    border: none;
    color: #314967;
    font-size: 1.1rem;
    transition: 0.1s;
}

.container .formPart .loginPart .form .formSpace input:focus {
    outline: none;
    font-size: 1.2rem;
}


.container .formPart .loginPart .form .formSpace .eye {
    width: 22px;
    height: 19px;
    margin: 10px;
}

.container .formPart .loginPart .form .loginBtn {
    height: 60px;
    width: 400px;
    border-radius: 30px;
    background-color: #314967;
    border: none;
    color: white;
    font-size: large;
    margin-top: 90px;
    cursor: pointer;
}

nav {
    position: absolute;
    width: 350px;
    height: 90%;
    border-radius: 30px;
    background-color: #314967;
    margin-top: 30px;
    left: 0;
    margin-left: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.menu .logoMenu {
    margin-top: 30px;
}
.menu .menu-list {
    list-style-type: none;
}

.menu .menu-list .menu-item {
    width: 300px;
    height: 70px;
    border-radius: 20px;
    margin: 20px 0;
    display: flex;
    cursor: pointer;
}

.menu .menu-list .menu-item a {
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    color: white;
}

.menu .menu-list .menu-item a img {
    margin-left: 30px;
}

.menu .menu-list .active {
    background-color: white;
    color: #314967;
}

.menu .menu-list .active a {
    color: #314967;
    font-weight: 600;
}

.containerInt {
    width: calc(90% - 140px);
    height: 90%;
    margin-left: 140px;
    border-radius: 60px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerInt .containerIntInt {
    width: 100%;
    height: 100%;
    padding-left: 200px;
    /* background-color: red; */
}


.containerInt .containerIntInt .prova {
    width: 100%;
    height: 100%;
}










.background {
    background-image: url(../img/pg02.png);
    width: 100%;
    height: 100%;
    /* background-position: center; */
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 99;
    opacity: 0;
    display: none;
}